<div>
    <div class="card mt-2 col-12">
        <div class="form-row p-3">
            <div class="form-group col-6">
                {{ form_row(form.piece, {'attr': {'required': 'required'}}) }}
            </div>
            <div class="form-group col-6">
                {{ form_row(form.quantity, {'attr': {'required': 'required', 'min' : 1}}) }}
            </div>
            <div class="d-flex">
                <button type="button" class="form-row btn btn-outline-danger btn-piece_used_delete" style="margin-top: 15px;"><span class="form-row"><i class="material-icons" >delete</i></span></button>
            </div>
        </div>
    </div>
</div>
