<div class="modal fade" id="showUsersByWorkstationModal{{ workstation.id }}" data-whatever="{{ workstation.id }}" tabindex="-1" role="dialog"  aria-labelledby="showUsersByWorkstationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="showUsersByWorkstationModalLabel">Utilisateurs : {{ workstation.users|length }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for user in workstation.users %}
                    <div class="card">
                        <div class="card-body bg-success">
                            {{ user.username }}
                        </div>
                    </div>
                    <br>
                {% else %}
                    <p>Ce poste de travail  n'a aucun utilisateurs qualifiés.</p>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>