<div class="modal fade"  tabindex="-1" role="dialog"  aria-labelledby="showRangesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="showRangesModalLabel">Opérations : {{ operation.ranges|length }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for range in operation.ranges %}
                    <div class="card">
                        <div class="card-body bg-success">
                            {{ range.libelle }}
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>