{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="col d-flex justify-content-center mt-5 container">
    <form method="post" class="card bg-light col-6 rounded my-card">
        {% if error %}
            <div class="alert alert-danger text-center">Identifiant ou mot de passe incorrect .</div>
        {% endif %}
        <div class="card-body">
            <div class="card-header">
                <h1 class="h3 font-weight-normal text-uppercase text-center rounded-top">Gestion de pièces</h1>
            </div>
            <div class="container mx-5">
                <div class="mt-2 w-75 p-3">
                    <label for="inputEmail">Email : </label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-2" autocomplete="email" required autofocus>
                </div>
                <div class="mt-2 w-75 p-3">
                    <label for="inputPassword">Mot de passe :</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mt-2" autocomplete="current-password" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            <div class="text-center">
                <button class="btn btn-md mt-3 btn-outline-primary " type="submit">
                    Se connecter
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
