@import '~bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
/* Material icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #fafafa;
    font-family: 'Rubik', sans-serif;

}

#table_body_pieces td.col-3 {
    overflow: hidden ;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width:200px;
}

#table_body_pieces td.col-3:hover {
    overflow: unset !important;
    text-overflow: unset !important;
    white-space: unset !important;
}

.navbar li > a {
    transition: color 0.3s !important;
}
.navbar li.active > a {
    transition: color 0.3s !important;
    border-bottom: 3px solid white !important;
    color: black !important;
}

.navbar li a {
    transition:color 0.3s !important;
}

.navbar li a:hover {
    border-bottom: 3px solid black;
    color: black !important;
}

.my-card {
    transition: box-shadow 0.3s;
}

.my-card:hover {
    box-shadow: 0 0 4px 0 lightblue;
}