<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% if app.user %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Gestion de pieces</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if is_granted("ROLE_OUVRIER") %}
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Atelier</a>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_OUVRIER") %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pièces</a>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_COMMERCIAL") %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Devis</a>
                        </li>
                    {% endif %}
                    {% if is_granted("ROLE_COMPTABLE") %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Commande de ventes</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <a href="{{ path('app_logout') }}" class="btn btn-sm btn-outline-danger text-light" role="button">Se déconnecter</a>
            </form>
        </nav>
    {% endif %}
    {% block body %}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
