<div class="modal fade"  tabindex="-1" role="dialog"  aria-labelledby="editMachineModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(form_machine)}}
            <div class="modal-header">
                <h5 class="modal-title" id="editMachineModalLabel">Modifier une machine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-10">
                        {{
                        form_row(form_machine.libelle)
                        }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        {{
                        form_row(form_machine.workStation)
                        }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-warning">Modifier</button>
            </div>
            {{ form_end(form_machine) }}
        </div>
    </div>
</div>