{% extends 'base.html.twig' %}

{% block title %}Ajouter un devis{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Ajouter un devis</h1>
        <hr/>
        {% include('estimate/_form.html.twig')  %}
    </div>

{% endblock %}