<div>
    <div class="card mt-2 col-12 item">
        <div class="form-row p-3">
            <div class="form-group col-12">
                {{ form_row(form.estimateLine, {'attr': {'required': 'required', 'class' : 'form_select_estimateLine'}}) }}
            </div>
            <div class="d-flex">
                <button type="button" class="form-row btn btn-outline-danger btn-order_line_sale_delete" style="margin-top: 15px;"><span class="form-row"><i class="material-icons" >delete</i></span></button>
            </div>
        </div>
    </div>
</div>